body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1rem;
    background-color: #0c2c5f;
    color: white;
}

.content{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}
table{
    font-size: 1.2rem;
    padding: .8rem;
}
.message{
    margin-top: 2%;
    padding: .8rem;
    height: 4.5rem;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.2rem;
}
.message p{
    text-align: center;
}
#cScore{
    color: rgb(236, 154, 154);
    font-size: 1.4rem;
}
#yScore{
    color: rgb(184, 231, 184);
    font-size: 1.4rem;
}
.control{
    margin-top: 10%;
    margin-bottom: 5%;
}
.btn{
    display: flex;
    justify-content: space-evenly;
}
.btn button{
    padding: 1rem;
    width: 6rem; 
    border: none;
}
#btn-1{
    background-color: transparent;
}
#btn-2{
    background-color: transparent;
}
#btn-3{
    background-color: transparent;
<<<<<<< HEAD
=======
}
#btn,#btn-2,#btn-3{
    cursor: pointer;
>>>>>>> 2494bdf29af264e624aad1ab6e499e51b3244adf
}
#btn,#btn-2,#btn-3{
    cursor: pointer;
}